.white {
  color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
}

.prompt-window {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 5rem 0rem;
  background-color: #29465f;
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.form-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.55);
  background-color: #FFFFFF;
  height: 24rem;
  border-radius: 1rem;
}

.form-group {
  margin-bottom: 4rem;
}

.form-label {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.input {
  border: none;
  background-color: #e9e9e9;
  font-size: 0.875rem;
  min-width: 13rem;
  text-align: center;
  transition: background-color 0.25s ease;
}

.input:focus {
  border: none;
  background-color: #e1e1e1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.select {
  transition: background-color 0.25s ease;
  min-width: 15rem;
}

.select:hover {
  border: none;
  background-color: #e1e1e1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.button {
  background-color: #546a7f;
  opacity: 0.8;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem 3rem;
  transition: background-color 0.25s ease;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #29465f;
}

.button-inverted {
  background-color: #ffffff;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  opacity: 0.8;
  transition: background-color 0.25s ease;
  letter-spacing: 1px;
  color: #29465f;
  min-width: 15rem;
}

.button-inverted:hover {
  background-color: #e1e1e1;
  color: #29465f;
}

.button-red {
  background-color: #ff5555;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  opacity: 0.8;
  transition: background-color 0.25s ease;
  letter-spacing: 1px;
  color: #ffffff;
  min-width: 15rem;
}

.button-red:hover {
  background-color: #e63c3c;
  color: #ffffff;
}

.label {
  border-bottom: 2px solid #5bbbeb;
}

.white-label {
  color: #ffffff;
  border-bottom: 2px solid #5bbbeb;
  margin-bottom: 2rem;
}

.loading-container {
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  font-size: 144px;
}

.sidebar {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #546a7f;
  min-width: 19rem;
  align-items: center;
  /* box-shadow: 1px 1px 9px -4px rgba(0, 0, 0, 0.75); */
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.admin-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.left-form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-controls button {
  margin: 5px 0;
}

.logout {
  margin-top: auto;
}

.main-content {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.story-point-container {
  padding: 5px 10px;
  border: 3px outset;
  min-width: 100px;
}

.story-points-list {
  padding-right: 25px;
}

.name {
  font-weight: bold;
}

.story-point {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.status-table {
  background-color: #bef3c9;
  color: black;
}

.status-table .pending {
  background-color: #e1e1e1;
  color: black;
}

.table-row {
  /* box-shadow: 1px 1px 9px -4px rgba(0, 0, 0, 0.75); */
  border-bottom: 2px #ffffff solid;
}

.td {
  padding: 0.5rem 1rem !important;
  font-size: 0.875rem;
}